<h3>Projects: (<%= @projects.length %>)
      <form action="/project/add" method="post">
        <label>Github path: 
          <input type="text" name="project_name" placeholder="danmayer/churn" />
        </label>
        <input type="submit" name="submit" value="Churn It" class="button stacked" />
      </form>
<ul>
  <% @projects.each do |project| %>
    <li><a href='/<%= project %>'><%= project %></a></li>
  <% end %>
</ul>