<h1>Code Churn Github Webhook</h1>

<p>
  The easiest way to use this site it to just setup a webhook on your github project. You can add it manually (see below), but it won't keep your project up to date unless you add the webhook. Adding Github webhooks is simple visit your project's settings page and click 'Service Hooks' the type or paste 'http://churn.picoappz.com/' in the url. Click update settings and you are good to go. Click 'test hook' if you want to trigger churn immediately.
</p>

<div style="text-align:center">
<img src="/images/churn_webook_settings.png" alt="churn webhook settings" />
<br/>
<small>
  <a href="https://help.github.com/articles/post-receive-hooks">
    Github Webhook Settings
  </a>
</small>
</div>

<h3>Manually Add Project</h3>

<p>
If you want to just try it out first you can manually add your project on the home page by just filling in 'user_name/project_name' for your github project and it will pull your project down. It won't automatically run churn on any future commits unless you setup the webhook in github. You can always add the webhook later after your project has been added to churn app.
</p>

<div style="text-align:center">
<img src="/images/add_project.png" alt="add churn project" style="text-align:center" />
<br/>
<small>
  <a href="/">
    Add Churn Project
  </a>
</small>
</div>